// Import page-specific CSS files here.
@import "home";


.gcards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}


#map {
  height: 100vh;
  position: sticky;
  top: 0;
}
