.hero-picture{
  background-image:url(https://media.npr.org/assets/img/2019/02/06/grandmother-1_wide-b4e1ac71c276b447a873921dea8f9b6175d84a91.jpeg?s=1400);
  height:300px;
  display:flex;
  text-align: center;
  justify-content:center;
}
h1{
  font-family:Avenir Next Condensed;
  font-size: 70px;
  padding-top:70px;
  padding-bottom:30px;
  color:white;
  }
