<div class="container">
  <h1>YOUR CURRENT BOOKINGS</h1>
  <% @bookings.each do |b| %>
  <br>
  <div class="card">
    <div class="card-date-position">
      <p>Date of your booking</p>
      <%= b.booking_date %>
    </div>
    <div>
     <p>Description</p>
     <%= b.grandmother_offer.description %>
   </div>

    <div class="card-position-status">
      <p>Status</p>
      <%= b.status %>
    </div>
  </div>
<% end %>

<br>
<div class="link-position">
  <%= link_to "DONT BE SHY, BOOK ANOTHER GRANNY", grandmother_offers_path  %>
</div>
</div>

