<h1>HELLO HERE ARE YOUR BOOKINGS</h1>

<% @bookings.each do |b| %>
<br>
<%= b.booking_date %>
<br>
<%= b.status %>

<% end %>

<br>

<%= link_to "DONT BE SHY, BOOK ANOTHER GRANNY", grandmother_offers_path  %>
