<div class="container">
<h1>YOUR CURRENT BOOKINGS</h1>
    <% @bookings.each do |b| %>
    <br>
    <div class="card">
      <p>Date of your booking</p>
      <%= b.booking_date %>
    <div class="position-status">
      <p>Status</p>
      <%= b.status %>
    </div>
    </div>
    <% end %>

    <br>
    <div class="link-position">
      <%= link_to "DONT BE SHY, BOOK ANOTHER GRANNY", grandmother_offers_path, class:  %>
    </div>
</div>

