<section id="hero" class="hero">
  <div class="container text-center">
    <div class="col-md-12">
      <h1>Need a granny?</h1>
      <p class="tagline">Start looking for your granny,<br> and rent her now!</p>
      <h2>We have grannys at service</h2>
      <a class="btn btn-full scrollto" href="#about">Get Started Now</a>
    </div>
  </div>
</section>

<section id="cards" class="cards">

</section>
