<section id="hero" class="hero">
  <div class="text-center">
    <div class="col-md-12">
      <h1>Book A Granny</h1>
      <p class="tagline">Book a granny<br> in exchange for a deed of your own!</p>
      <section class="search-row" style="margin-top: 30px; ">
        <input class="search-input" type="text" placeholder="Select your location"></input>
        <div class="checks-input" style="background-color: white;">
          <input class="check-in" type="date" placeholder="Date:"></input>
        </div>
        <div class="button1"><button class="bbutton" href="/grandmother_offers"> See available offers </button></div>
      </section>
    </div>
  </div>
</section>
