<section id="hero" class="hero">
  <div class="text-center">
    <div class="col-md-12">
      <h1>Need a granny?</h1>
      <p class="tagline">Start looking for your granny,<br> and book her now!</p>
      <h2>We have <%= GrandmotherOffer.count %> grannys.</h2>
      <section class="search-row" style="margin-top: 30px; ">
        <input class="search-input" type="text" placeholder="Select your location"></input>
        <div class="checks-input" style="background-color: white;">
          <input class="check-in" type="date" placeholder="Date:"></input>
        </div>
        <div class="button1"><button class="gbutton" href="/grandmother_offers"> See available offers </button></div>
      </section>
    </div>
  </div>
</section>
