.gbutton {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 22px;
   font-weight: 100;
   padding: 7px 25px;
   background-color: #B90E6B;
   -webkit-box-shadow: 1px 1px 20px 0 #B90E6B;
   -moz-box-shadow: 1px 1px 20px 0 #B90E6B;
   box-shadow: 1px 1px 20px 0 #B90E6B;
   text-shadow: 1px 1px 20px #D1B2C3;
   border: solid #B90E6B 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px;
}

.gbutton:hover {
  color: #FFFFFF;
   border: solid #9C1A60 1px;
   background: #9C1A60;
   background-image: -webkit-linear-gradient(top, #9C1A60, #9C1A60);
   background-image: -moz-linear-gradient(top, #9C1A60, #9C1A60);
   background-image: -ms-linear-gradient(top, #9C1A60, #9C1A60);
   background-image: -o-linear-gradient(top, #9C1A60, #9C1A60);
   background-image: -webkit-gradient(to bottom, #9C1A60, #9C1A60);
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   text-decoration: none;
}
