
.position-status{
  text-align: right;

}

.container{
  h1{
    text-align: center;
    margin-top: 25px;
    font-family: $headers-font;
  }
}

  .link-position{
    text-align: center;
    margin: 10px 43px;
    margin-bottom: 80px;
  }



.card-date-position{
  margin: auto 0;
}

.card-position-status{
  margin: auto 0;
  text-align: right;
}

.accepted-button{
  color: #2caf1f;
  text-decoration: none;
}

.declined-button{
  color: #ff5a5f;
  text-decoration: none;

}

.tab-title{
  text-align: left;
}
